@{
    ViewData["Title"] = "Home Page";
}

<body>
<div class="text-center">
    <h1 class="display-4">Welcome Patrons and Bartenders</h1>
    <img src="~/img/bartender-drinks.jpg" />
    <h2>Choose the drinks of your choice and a bartender will make it.</h2>
    <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Drinks","Home")'">Patron Drink Options</button>
        <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Queue","Home")'">Bartenders Order Queue</button>
</div>
</body>