@{
    ViewData["Title"] = "Home Page";
}

<body>
    <body background="edureka.png">
<div class="text-center">
    <h1 class="display-4">Welcome Patrons and Bartenders</h1>
    <h2>Choose the drinks of your choice and a bartender will make it.</h2>
    <button type="button" class="btn btn-dark">Patron Drink Options</button>
    <button type="button" class="btn btn-dark">Bartenders Order Queue</button>
</div>
</body>